<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Placed</title>
    <style>
        body { text-align:center; font-family:Poppins; padding:100px; }
        a { display:inline-block; margin-top:30px; padding:12px 28px;
            background:#000; color:#fff; text-decoration:none; border-radius:30px; }
    </style>
</head>
<body>

<h1>🎉 Order Placed Successfully!</h1>
<p>Thank you for shopping with Luxora.</p>

<a href="{% url 'shop' %}">Continue Shopping</a>

</body>
</html>
